<%= form_for(current_user.ingredients_users.find_by(:ingredient_id), class: "p-2", remote: true) do |f| %>
    <div><%= hidden_field_tag :ingredient_id, ingredient.id %></div>
    <%= f.submit "Add", class: "btn btn-link" %>
<% end %>