<div class="card" style="width: 18rem;">
  <div class="card-header">
    <%= ingredient.name %>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Info: <%= ingredient.info %></li>
    <li class="list-group-item">Group: <%= ingredient.group %></li>
  </ul>
</div>