$side-bar-width: 240px;

aside, main {
    height: 100vh;
    min-height: 580px;
}

aside {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: $side-bar-width; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #fff;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    border-radius: 10px;
}

aside .side-inner {
    padding: 30px 0;
    position: fixed;
    height: 100vh;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
}

aside .side-inner::-webkit-scrollbar {
    display: none;
}

aside .side-inner .logo-wrap {
    display: block;
    position: relative;
    width: 100%;
    float: left;
}

aside .side-inner .logo-wrap .logo {
    width: 50px;
    float: left;
    height: 50px;
    background: tomato;
    border-radius: 50%;
    position: relative;
    -webkit-transition: .3s margin ease;
    -o-transition: .3s margin ease;
    transition: .3s margin ease;
    margin: 0 auto 50px 10px;
}

aside .side-inner .logo-wrap .logo {
    margin: 0 auto 50px 20px;
}

aside .side-inner .logo-wrap .logo span {
    position: absolute;
    color: #fff;
    font-size: 1.5rem;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

aside .side-inner .logo-wrap .logo-text {
    position: absolute;
    top: 10px;
    font-size: 20px;
    margin-left: 10px;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    opacity: 0;
    visibility: hidden;
}

aside .side-inner .logo-wrap .logo-text {
    opacity: 1;
    visibility: visible;
}

aside .side-inner .search-form {
    padding-left: 20px;
    padding-right: 20px;
    clear: both;
    margin-bottom: 30px;
}

aside .side-inner .search-form form {
    position: relative;
}

aside .side-inner .search-form form .form-control {
    border-radius: 30px;
    border: 1px solid transparent;
    //padding-left: 20px;
}

aside .side-inner .search-form form .form-control:active, aside .side-inner .search-form form .form-control:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

aside .side-inner .search-form form .form-control {
    border: 1px solid #efefef;
}

aside .side-inner .search-form form .wrap-icon {
    font-size: 1.2rem;
    top: 50%;
    position: absolute;
    top: 5px;
    left: 170px;
    z-index: 2;
    -webkit-transition: .3s left ease;
    -o-transition: .3s left ease;
    transition: .3s left ease;
}

aside .side-inner .nav-menu {
    margin-bottom: 50px;
    clear: both;
}

aside .side-inner .nav-menu ul, aside .side-inner .nav-menu ul li {
    padding: 0;
    margin: 0px;
    list-style: none;
}

aside .side-inner .nav-menu ul li a {
    display: block;
    padding-left: 23px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #b1b1b1;
    position: relative;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}

aside .side-inner .nav-menu ul li a:active, aside .side-inner .nav-menu ul li a:focus, aside .side-inner .nav-menu ul li a:hover {
    outline: none;
}

aside .side-inner .nav-menu ul li a:hover {
    color: tomato;
    background: #f4f4f4;
}

aside .side-inner .nav-menu ul li a .wrap-icon {
    font-size: 1.2rem;
}

aside .side-inner .nav-menu ul li a .menu-text {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}

aside .side-inner .nav-menu ul li a .menu-text {
    -webkit-transition: 0s all ease;
    -o-transition: 0s all ease;
    transition: 0s all ease;
    opacity: 1;
    visibility: visible;
}

aside .side-inner .nav-menu ul li.active a {
    color: #000;
}